$panel_width = 320
$header_height = 50
$footer_height = 50
$texture = 'http://media.lessthan3.com/wp-content/uploads/2014/03/footer-overlay.png'

// fancybox instagram styling
.fancybox-skin.instagram
  background $background_color
  color color_offset($background_color,60)
  .fancybox-title
    padding 10px 10px 0px 10px
    .info
      .username
        color color_offset($background_color,60)
        font-family $subtitle_font
        text-transform uppercase
