
// custom variables
$map_height = 100
$map_height_px = unit($map_height, 'px')
$header_height_px = $header_height + $header_top_height
$media = 'http://www.lessthan3.com/media'

$static_image = $media + '/53a37dc0325b387176972f4a/static.jpg'
$static_image_hover = $media + '/539e4f1dd1823a0167d40536/screen2.gif'
$static_image_hover = $media + '/53a37fcfd3666a7376801ad2/static-3.gif'

// fancybox login
.fancybox-wrap
  box-shadow 0 0 200px -30px $secondary_color
  .fancybox-skin
    box-shadow 0 0 20px 6px rbga(0, 0, 0,0.5) !important
  .fancybox-inner
    display hidden !important

#login-fancybox
  overflow panda
  background-position center center
  background-size cover
  box-shadow 10px 10px 10px 10px #FFF
  color $frame_text_color
  display none
  height 300px
  position relative
  text-align center
  text-transform uppercase
  width 600px
  .top
    cursor default
