.image
  background $background_color
  div.panda
    border-bottom 4px solid lighten(black, 15)
    .testing
      box-sizing border-box
      position relative
      width 100%
      a, div
        box-sizing border-box
        display block
        overflow hidden
        width 100%
        img
          width 100%
