.rings
  border-radius 50%
  display none
  left 50%
  position absolute
  top 50%
  z-index 110
  circle, path
    stroke-opacity .7
    stroke-width 15
    &.base
      stroke #323232
    &.buffer
      stroke #000
    &.progress
      stroke $color
      stroke-opacity 1
    &.mouseover
      stroke #fff
      stroke-width 5
